* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 100px;
}

.header {
  padding: 20px;
}

.navbar {
  display: flex;
  margin: 0 50px;
  gap: 700px;
}

.list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.mission-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
}

.mission {
  width: 20%;
}

.description {
  width: 50%;
}

.status {
  width: 20%;
}

.col {
  text-align: center;
}

.col2 {
  text-align: justify;
}
