* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
  color: #2f4cf0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: salmon;
  height: 65px;
  width: 100vw;
}

.nav-lists {
  list-style-type: none;
  padding: 0;
  margin: 0 50px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items-list {
  margin: 0 40px 0 15px;
  font-size: 1.3em;
}

.hr {
  background-color: #000;
  height: 1px;
  margin-top: 30px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 100px;
  aspect-ratio: 5/3;
}

.missions {
  background-color: #2f4cf0;
}

.profile {
  padding: 5px;
}

.rocket {
  background-color: chocolate;
}

.rocket-list {
  padding: 5px;
  width: 600px;
}

.rocket-list li {
  border: 1px solid;
  padding: 10px;
}
